<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.yu.demo.dao.userInfo.UserMapper">
    <select id="findAllUser" resultType="com.example.yu.demo.entity.userInfo.User">
        select * from userinfo
    </select>

    <select id="getAll" resultType="HashMap" parameterType="HashMap">
        select
        user_id as userId,
        inpatient_id as inpatientId,
        height,
        weight,
        del
        from userinfo
        where 1=1
        <if test="inpatientId != null">
            and inpatient_id = #{inpatientId}
        </if>
        <if test="type != null">
            and type = #{type}
        </if>
        <if test="start != null &amp;&amp; end != null">
            limit #{start},#{end}
        </if>
        order by user_id asc
    </select>


    <select id="count" resultType="Integer" >
        select count(*) from userinfo
        where 1=1
        <if test="inpatientId != null">
            and inpatient_id = #{inpatientId}
        </if>
        <if test="type != null">
            and type = #{type}
        </if>
    </select>


    <insert id="add" parameterType="HashMap" >
        INSERT INTO userinfo(user_id
        <if test="username != null">
            , username
        </if>
        <if test="phone != null">
            , phone
        </if>
        <if test="sex != null">
            , sex
        </if>
        <if test="inpatientId != null">
            , inpatient_id
        </if>
        <if test="height != null">
            , height
        </if>
        <if test="weight != null">
            , weight
        </if>
        <if test="type != null">
            , type
        </if>
        <if test="del != null">
            , del
        </if>
        ) VALUES (#{userId}
        <if test="username != null">
            , #{username}
        </if>
        <if test="phone != null">
            , #{phone}
        </if>
        <if test="sex != null">
            , #{sex}
        </if>
        <if test="inpatientId != null">
            , #{inpatientId}
        </if>
        <if test="height != null">
            , #{height}
        </if>
        <if test="weight != null">
            , #{weight}
        </if>
        <if test="type != null">
            , #{type}
        </if>
        <if test="del != null">
            , #{del}
        </if>
        )
    </insert>


    <update id="del" parameterType="HashMap">
        update userinfo
        set del = '1'
        <where>
            <if test="inpatientId != null">
                inpatient_id = #{inpatientId}
            </if>
            AND del = '0'
        </where>
    </update>


    <update id="update" parameterType="HashMap">
        UPDATE userinfo
        <set>
            inpatient_id = #{inpatientId}
            <if test="userId != null">
                ,user_id = #{userId}
            </if>
            <if test="username != null">
                , username = #{username}
            </if>
            <if test="phone != null">
                , phone = #{phone}
            </if>
            <if test="sex != null">
                , sex = #{sex}
            </if>
            <if test="height != null">
                , height = #{height}
            </if>
            <if test="weight != null">
                , weight = #{weight}
            </if>
            <if test="type != null">
                , type = #{type}
            </if>
            <if test="del != null">
                , del = #{del}
            </if>
        </set>
        WHERE  del = '0' and inpatient_id = #{inpatientId}
    </update>


    <select id="selectBatch" parameterType="ArrayList" resultType="HashMap">
        SELECT
        user_id as userId,
        inpatient_id as inpatientId,
        height,
        weight,
        del
        FROM userinfo WHERE del = '0' AND (user_id='000'
        <foreach collection="list" item="item" index="index" separator=" " open=" " close="">
            OR user_id=#{item.userId}
        </foreach>
        )
        <!--<if test="idList !=null">
            and id IN
            <foreach collection="idList" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>-->
    </select>
</mapper>
