<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>alitle_fish博客</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
		<link rel="stylesheet" href="./css/uiHome/font-awesome.min.css">
		<link rel="stylesheet" href="./css/uiHome/owl.carousel.css">
		<link rel="stylesheet" href="./css/uiHome/owl.transitions.css">
		<link rel="stylesheet" href="./css/uiHome/animate.min.css">
		<link rel="stylesheet" href="./css/uiHome/lightbox.css">
		<link rel="stylesheet" href="./css/uiHome/bootstrap.min.css">
		<link rel="stylesheet" href="./css/uiHome/preloader.css">
		<link rel="stylesheet" href="./css/uiHome/image.css">
		<link rel="stylesheet" href="./css/uiHome/icon.css">
		<link rel="stylesheet" href="./css/uiHome/style.css">
		<link rel="stylesheet" href="./css/uiHome/responsive.css">
		<style>
			.content{
				height: 300px;
			}

		</style>

	</head>
	<body id="top">
	

        <header id="navigation" class="navbar-fixed-top animated-header" style="border-bottom: 1px solid #d3d3d3;">
            <div class="container" >
                <div class="navbar-header">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->
					
					<!-- logo -->
					<!--<h1 class="navbar-brand">
						<a href="#body"><img src="img/logo.png" height="40" width="164" alt=""></a>
					</h1>-->
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation" >
                    <ul id="nav" class="nav navbar-nav menu">
                        <li><a href="#top">首页</a></li>
                        <li><a href="#portfolio">专栏分类</a></li>
                        <li><a href="#blog">热门文章</a></li>
                        <li><a href="#testimonial">资料下载</a></li>
                        <li><a href="#contact-form">猿问</a></li>
                    </ul>
                </nav>

				<!-- /main nav -->
				
            </div>
        </header>


	<div class="wrapper">
		<section id="banner" style="padding: 376px 0">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="block">
							<!--<h1>总在思考一句积极的话</h1>
							<h2>愿你眼中总有光芒，活出你想要的模样... <br> May there always be light in your eyes and live the way you want</h2>
						--></div>
					</div>
					<!--社交账号-->
					<div class="blog-sidebar-widget blog-bor">
						<!--<h2 class="blog-text-center blog-title"><span></span></h2>-->
						<!--<p>
							<a href=""><span href="img/social_icon.png" class="am-icon-qq">qq</span></a>
							<a href=""><span class="am-icon-github">github</span></a>
							<a href=""><span class="am-icon-weibo">weibo</span></a>
							<a href=""><span class="am-icon-weixin">weixin</span></a>
						</p>-->
					</div>



				</div>
			</div>
			<div class="scrolldown">
	            <a id="scroll" href="#portfolio" class="scroll"></a>
	        </div>
		</section>
		<section id="portfolio">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h2>一个菜菜猿的随手笔记</h2>
						</div>
						<div class="block">
							<div class="recent-work-mixMenu">
								<ul>
									<li><button class="filter" data-filter="all">ALL</button></li>
									<li><button class="filter" data-filter=".category-2">后端开发</button></li>
									<li><button class="filter" data-filter=".category-1">前端开发</button></li>
									<li><button class="filter" data-filter=".category-2">数据库</button></li>
									<li><button class="filter" data-filter=".category-1">其&emsp;他</button></li>
								</ul>
							</div>
							<div class="recent-work-pic">
								<ul id="mixed-items">
									<li class="mix category-1 col-md-4 col-xs-6" data-my-order="1">
										<a class="example-image-link" href="img/work1.jpg" data-lightbox="example-set">
											<img class="img-responsive" src="img/work1.jpg" alt="">
											<div class="overlay">
													<h3>Web design</h3>
													<i class="ion-ios-plus-empty"></i>
											</div>
										</a>
									</li>
									<li class="mix category-2 col-md-4 col-xs-6" data-my-order="2">
										<a class="example-image-link" href="img/work2.jpg" data-lightbox="example-set">
											<img class="img-responsive" src="img/work2.jpg" alt="">
											<div class="overlay">
												<h3>Web design</h3>
												<i class="ion-ios-plus-empty"></i>
											</div>
										</a>
									</li>
									<li class="mix category-1 col-md-4 col-xs-6" data-my-order="3">
										<a class="example-image-link" href="img/work3.jpg" data-lightbox="example-set">
											<img class="img-responsive" src="img/work3.jpg" alt="">
											<div class="overlay">
												<h3>Web design</h3>
												<i class="ion-ios-plus-empty"></i>
											</div>
										</a>
									</li>
									<li class="mix category-2 col-md-4 col-xs-6" data-my-order="4">
										<a class="example-image-link" href="img/work4.jpg" data-lightbox="example-set">
											<img class="img-responsive" src="img/work4.jpg" alt="">
											<div class="overlay">
												<h3>Web design</h3>
												<i class="ion-ios-plus-empty"></i>
											</div>
										</a>
									</li>
									<li class="mix category-1 col-md-4 col-xs-6" data-my-order="5">
										<a class="example-image-link" href="img/work5.jpg" data-lightbox="example-set">
											<img class="img-responsive" src="img/work5.jpg" alt="">
											<div class="overlay">
												<h3>Web design</h3>
												<i class="ion-ios-plus-empty"></i>
											</div>
										</a>
									</li>
									<li class="mix category-2 col-md-4 col-xs-6" data-my-order="6">
										<a class="example-image-link" href="img/work6.jpg" data-lightbox="example-set">
											<img class="img-responsive" src="img/work6.jpg" alt="">
											<div class="overlay">
												<h3>Web design</h3>
												<i class="ion-ios-plus-empty"></i>
											</div>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="blog">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="title">
							<h2>大家都在讨论</h2>
							<!--<p>Dantes remained confused and silent by this explanation of the <br> thoughts which had unconsciously</p>-->
						</div>
						<div id="blog-post" class="owl-carousel">
							<div>
								<div class="block">
									<img src="img/blog/blog-1.jpg" alt="" class="img-responsive">
									<div class="content">
										<h4><a href="blog.html">xxl-job调度任务平台系统</a></h4>
										<small>By alittle_fish / Sept 18, 2018</small>
										<p style="text-align: left">
											&emsp;&emsp;XXL是一系列开源软件的集合，涉及分布式、基础中间件、效率工具、Web框架等多个领域。 包含项目有：任务调度、配置中心、消息队列、RPC通讯、API管理、Web框架、爬虫.
										</p>
										<a href="blog.html" class="btn btn-read">Read More</a>
									</div>
								</div>
							</div>
							<div>
								<div class="block">
									<img src="img/blog/blog-2.jpg" alt="" class="img-responsive">
									<div class="content">
										<h4><a href="blog.html">Spring Security技术栈开发企业级认证与授权</a></h4>
										<small>By alittle_fish / Sept 18, 2018</small>
										<p style="text-align: left">
											&emsp;&emsp;细致地讲解Spring Security、Spring Social 、Spring Security OAuth三种技术开发安全的REST服务，彻底掌握一线互联网公司主流的身份认证和授权方式...
										</p>
										<a href="blog.html" class="btn btn-read">Read More</a>
										
									</div>
								</div>
							</div>
							<div>
								<div class="block">
									<img src="img/blog/blog-3.jpg" alt="" class="img-responsive">
									<div class="content">
										<h4><a href="blog.html">Java定时任务调度工具详解之Quartz篇</a></h4>
										<small>By alittle_fish / Sept 18, 2018</small>
										<p style="text-align: left">
											&emsp;&emsp;什么是Quartz，Quartz如何用，如何与Spring合为一体,这篇文章将全面讲解定时任务的核心知识点和相关源代码的介绍...
										</p>
										<a href="blog.html" class="btn btn-read">Read More</a>
										
									</div>
								</div>
							</div>
							<div>
								<div class="block">
									<img src="img/blog/blog-4.jpg" alt="" class="img-responsive">
									<div class="content">
										<h4><a href="blog.html">使用vue2.0实现购物车和地址选配功能</a></h4>
										<small>By admin / Sept 18, 2014</small>
										<p style="text-align: left">
											&emsp;&emsp;1、Vue2.0各种指令的学习
											2、Vue2.0生命周期的介绍
											3、Vue2.0事件绑定、过滤器的使用、组件的介绍
											4、Vue-resource插件的讲解...
										</p>
										<a href="blog.html" class="btn btn-read">Read More</a>
										
									</div>
								</div>
							</div>
							<div>
								<div class="block">
									<img src="img/blog/blog-1.jpg" alt="" class="img-responsive">
									<div class="content">
										<h4><a href="blog.html">论程序员的自我修养</a></h4>
										<small>By admin / Sept 18, 2014</small>
										<p style="text-align: left">
											&emsp;&emsp;如何看待大龄码农？我们的何去何从，那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火...
										</p>
										<a href="blog.html" class="btn btn-read">Read More</a>
										
									</div>
								</div>
							</div>
							
						</div>		
					</div>
				</div>
			</div>
		</section>
		<section id="testimonial">
			<div class="container">
				<div class="row">
					<div class="title">
						<h2>欢迎下载相关视频和书籍</h2>
						<!--<p>Dantes remained confused and silent by this explanation of the <br> thoughts which had unconsciously</p>-->
					</div>
					<div class="col col-md-6">
						<div class="media wow fadeInLeft" data-wow-delay=".3s">
						  <div class="media-left">
						    <a href="#">
						      <img src="img/team-img2.jpg" alt="" >
						    </a>
						  </div>
						  <div class="media-body">
						    <h4 class="media-heading">JAVA</h4>
							  1.<span>Java9之模块系统</span><br/>
							  2.<span>springMvc实战</span><br/>
							  3.<span>Spring Security开发安全的REST服务</span><br/>
							  <a>更多...</a>
						  </div>
						</div>
					</div>
					<div class="col col-md-6">
						<div class="media wow fadeInRight" data-wow-delay=".3s">
						  <div class="media-left">
						    <a href="#">
						      <img src="img/blog-img8.jpg" alt="" >
						    </a>
						  </div>
						  <div class="media-body">
						    <h4 class="media-heading">SpringBoot</h4>
						    1.<span>springboot企业微信点餐系统</span><br/>
						    2.<span>springboot博客系统</span><br/>
							  3.<span>springboot防抖音视频实战</span><br/>
							  4.<a>更多...</a>
						    </div>
						</div>
					</div>
					<div class="col col-md-6">
						<div class="media wow fadeInLeft" data-wow-delay=".3s">
							<div class="media-left">
								<a href="#">
									<img src="img/team-img1.jpg" alt="" >
								</a>
							</div>
						<div class="media-body">
							<h4 class="media-heading">数据库</h4>
							1.<span>mysql实战</span><br/>
							2.<span>oracle实战</span><br/>
							3.<span>ridis实战</span><br/>
							4.<a>更多...</a>
						</div>


						</div>
					</div>
					<div class="col col-md-6">
						<div class="media wow fadeInRight" data-wow-delay=".3s">

							<div class="media-body">
								<a href="#">
									<img src="img/team-img3.jpg" alt="" >
								</a>
							</div>
							<div class="media-left">
								<h4 class="media-heading">书籍</h4>
								1.<span>代码大全</span><br/>
								2.<span>JAVA编程思想</span><br/>
								3.<span>程序员的自我修养</span><br/>
								4.<a>更多...</a>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="contact-form">
			<div class="container">
				<div class="row">
					<div class="title">
						<h2>一起讨论，欢迎来信</h2>
					</div>
					<div class="col-md-6 col">
						<h2 style="font-size: 20px;color: #80d6a3">总在思考一句积极的话</h2>
						<br/>
						<p>&emsp;&emsp;那时候刚好下着雨，柏油路面湿冷冷的，还闪烁着青、黄、红颜色的灯火。
						</p><br/>
						<p style="text-align: right">2018-10-29 </p>
						<div src="img/social.png"></div>
					</div>
					<div class="col-md-6">
						<form>
                            <input type="text" class="form-control" placeholder="Name">
                            <input type="text" class="form-control" placeholder="Email">
                            <textarea class="form-control" rows="3" placeholder="Message"></textarea>
                            <button class="btn btn-default" type="submit">SEND</button>
                        </form>
					</div>
				</div>
			</div>
		</section>


	<!--	<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="block">
							<a href="#"><img src="img/logo.png" alt=""></a>
							<p>All rights reserved © 2015. More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
						</div>
					</div>
				</div>
			</div>
		</footer>-->
	</div>

		<!-- load Js -->
		<script src="./js/uiHome/jquery-1.11.3.min.js"></script>
		<script src="./js/uiHome/bootstrap.min.js"></script>
		<script src="./js/uiHome/waypoints.min.js"></script>
		<script src="./js/uiHome/lightbox.js"></script>
		<script src="./js/uiHome/jquery.counterup.min.js"></script>
		<script src="./js/uiHome/owl.carousel.min.js"></script>
		<script src="./js/uiHome/html5lightbox.js"></script>
		<script src="./js/uiHome/jquery.mixitup.js"></script>
		<script src="./js/uiHome/wow.min.js"></script>
		<script src="./js/uiHome/jquery.scrollUp.js"></script>
		<script src="./js/uiHome/jquery.sticky.js"></script>
		<script src="./js/uiHome/jquery.nav.js"></script>
		<script src="./js/uiHome/main.js"></script>
	</body>
</html>